.time{
    color: white;
    text-align: center;
    font-size: 5rem;
    justify-content: center;

}
.progress{
    margin: auto;
    margin-top: 30px;
    width: 50%;
    margin-bottom: 30px;
}
.episode{
    flex-wrap: wrap;
    width: 100%;
    border-radius: 5px;
  justify-content: center;
  h3{
      color: white;
  }
}
.options{
  
    text-align: center;
    ul{
        flex-wrap: wrap;
        padding: 5px;
        display: flex;
        justify-content: space-around;
        width: 100%;
        background-color: black;
        border-radius: 5px;   
        display: inline-flex;
        li{
            list-style: none;
            color: white;
           
        }
    }
}
.embed-responsive-16by9{
    min-width: 520px;
    width:auto;
    height: 420px;
    position: relative;
    text-align: center;
}
.embed-responsive-item{
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

.playlist{
    min-width: 250px;
    min-height: 270px;
    max-height: 471px;
    overflow-x: hidden;
    border-radius: 5px;
    margin-top: 40px;
    width: 15%;
    color: white;
    text-align: center;
    background-color: black;
    position: relative;
    span{
        text-align: center;
    }
    .row{
        a{
            color: white;
            text-decoration: none;

            img{
            width: 100px;
            margin-right: 15px;

        }}

        flex-wrap: nowrap;
        padding-top: 15px;

    }
    .row{
        a:hover{  
            transition: all ease-in-out 0.5s;
            transform: scale(1.1);
        }
        }

.arrow{
    color: white;
    width: 50px;
    padding-bottom: 20px;
    position: absolute;
    bottom: -60px;
    left: 40%;
    cursor: pointer;
}
}