															/*nav*/

#nav{
	padding-top: 0px;
	padding-bottom: 0px;
}

.title{
	color: #edf0f1; 
	
}


.nav_list{
	a {
		text-decoration: none;
		transition: all 0.3s ease 0s;
		text-decoration: none;
		color:white;
		cursor: pointer;}
	}

.nav_list a:hover {
	color: #a90000;
}

#Start_Challenge{
	color:rgb(24, 25, 125);
	background-color:white;
	border-radius: 20px;
	padding: 10px;
	cursor: pointer;
}
#Start_Challenge1{
	text-decoration: none;
	color: red;
	background-color: purple;
	border-radius: 20px;
	padding: 10px;
}

.nav-link{
 color: white;
 margin-right: 30px;
}
.navbar-brand{
	color: white;
	font-size: 1.7rem;
	margin-right: 250px;
}
.navbar-nav{
	margin-right: 150px;
}

#Home{
	color:rgb(24, 25, 125);
	background-color:white;
	border-radius: 20px;
	padding: 10px;
	cursor: pointer;}

	.icono{
		color: white;
		width: 30px;
		height: auto;
	}
	.navbar-toggler{
		color: black;
		background-color: white;
	}

.user{
	color: white;
	margin-bottom: 0px;
	font-size: 1.8rem;
	
}

#box{
	box-sizing: content-box;
}