@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');
@import "variables";
@import "mixin";
@import "nav";
@import "index";
@import "sectionanime";
@import "_section2";
@import "form";
@import "projects";
@import "episode";
@import "media";

#index{
    background-image: linear-gradient(to bottom, #2525a169, #302b63, #0f0c299f),url(../Assets/katana-anime-girl-neon-4k-9s.jpg);
    font-family: 'Montserrat', sans-serif;
    background-size: 110%;
    background-repeat: no-repeat;
    background-color:#050A30;
}
.Sword_Art_Online_Alicization{
	background-image: url(../Assets/alice.jpg);
}
.DemonSlayer{
	background-image: url(../Assets/cute-nezuko-wallpaper-vobss-8.jpg);
	font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-size: 90%;
		background-position-x: 40%;
    background-size: cover;
	background-color:#050A30;
}

.Tokyo_Revengers{
	background-image: url(/Assets/wp9016814-tokyo-revengers-wallpapers.jpg);
	font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-size: 90%;
		background-position-x: 40%;
    background-size: cover;
	background-color:#050A30;
}

.Dr_Stone_Stone_Wars{
	background-image: url(/Assets/Dr.StoneStoneWars.png);}

.Wotaku_ni_Koi_wa_Muzukashii{
	background-image: url(/Assets/thumb-Wotaku_ni_Koi_wa_Muzukashii.png);}

.Inuyashiki{
	background-image: url(/Assets/54e572b30e217a3368c9a41b9877d9f0.jpg);
	font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-size: 90%;
		background-position-x: 40%;
    background-size: cover;
	background-color:#050A30;
}
.EightySix{
	background-image: url(/Assets/thumb-86.jpg);
	font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-size: 90%;
		background-position-x: 40%;
    background-size: cover;
	background-color:#050A30;
}

.MushokuTensei{
	background-image: url(/Assets/thumb-mushokutensei.jpg);
	font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-size: 90%;
		background-position-x: 40%;
    background-size: cover;
	background-color:#050A30;
}
.DarwinsGame{
	background-image: url(/Assets/darwin-wallpapers.jpg);
	font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-size: 90%;
		background-position-x: 40%;
    background-size: cover;
	background-color:#050A30;
}

body{
	height: 1%;
	background-image: url(../Assets/katana-anime-girl-neon-4k-9s.jpg);
	font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
	background-color:#050A30;
}

html{
    scroll-behavior: smooth;
}


header{
    background: rgba(17, 16, 16, 0.678) ;
}

.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}
