@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');
body{
	background-image: linear-gradient(to bottom, #2525a169, #302b63, #0f0c299f),url(./Assets/katana-anime-girl-neon-4k-9s.jpg);
	font-family: 'Montserrat', sans-serif;
	background-size: 110%;
	background-repeat: no-repeat;
	background-color:#050A30;
}

#Anime{
	height: 1%;
	background-image: url(./Assets/katana-anime-girl-neon-4k-9s.jpg);
	font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
	background-color:#050A30;
}
html{
	scroll-behavior: smooth;
}


.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}

  .footer { 
	  grid-area: footer;
	  display: flex;
	}

header{
	background: rgba(17, 16, 16, 0.678) ;
}
															/*nav*/


#nav{
	padding-top: 0px;
	padding-bottom: 0px;
}

.title{
	color: #edf0f1; 
}


.nav_list> a {
	text-decoration: none;
	transition: all 0.3s ease 0s;

}
.nav_list>a{
	text-decoration: none;
	color:white;
	cursor: pointer;
}
.nav_list a:hover {
	color: #a90000;
}
#Start_Challenge{
	color:rgb(24, 25, 125);
	background-color:white;
	border-radius: 20px;
	padding: 10px;
	cursor: pointer;
}
#Start_Challenge1{
	text-decoration: none;
	color: red;
	background-color: purple;
	border-radius: 20px;
	padding: 10px;
}

.section1{
		padding: 20px;


}
						
																					/*GUIDE*/
.guide{
	background-color: rgba(0, 0, 0, 0.315);
	width: auto;
	height: auto;
	box-shadow: 2px 2px 5px 1px;

}
.guide>ol>li{
	padding: 20px 10px;
	font-size: 1.5rem;
	color: #fff;
	text-shadow:
	0 0 5px rgba(0,178,255,1),
	0 0 10px rgba(0,178,255,1),
	0 0 20px rgba(0,178,255,1),
	0 0 40px rgba(38,104,127,1),
	0 0 80px rgba(38,104,127,1),
	0 0 90px rgba(38,104,127,1),
	0 0 100px rgba(38,104,127,1),
	0 0 140px rgba(38,104,127,1),
	0 0 180px rgba(38,104,127,1);
}


																						/*SLIDE*/
.slide{
	width: 80%;
	overflow: hidden;
	height: 450px;
	position: relative;
	box-shadow: 2px 2px 5px 1px;
	border-radius: 10px;
	grid-area: slide;
	flex-direction: row;
}
.slide>div>h2{
	position: absolute;
	display: flex;
	top: 20px;
	left: 40%;
	color: white;
	flex-direction: row;
	margin: 0;
}

.slide>ul{
	width: 490%;
	display: flex;
	animation: cambio 25s infinite alternate;
	height: 100%;
	margin: 0;
}

.slide>ul>li>img{
	height: 100%;
	width: 110%;
}

															/*CALENDARIO*/
.Calendario{
	width: 150px;
	height: 340px;
	color: white;
	background-color: black;
	border-radius: 4px;
	justify-self: start;

}

.Calendario>h3{
	text-align: center;
}

.li_calendario>li{
	flex-wrap: wrap;
	padding: 10px;
	margin-left: -15px;
	display: flex;
}

.li_calendario>li:hover{
	border-radius: 4px;
	background-color: red;
}

.subli_calendario{
	position: absolute;
	list-style: none;
	width: 200px;
	margin-top: -15px;
	margin-left: 100px;
	border-radius: 4px;
	display: none;
}
.li_calendario li:hover .subli_calendario{
	background-color: black;
	display: block;
}
.subli_calendario li{
	padding: 15px 15px 15px 20px ;
}
.subli_calendario li:hover{
	background-color: red;
}

																			/*section 2*/
.section2{ 
	background-color: rgb(24, 25, 125);
	height: 40%;
	position: relative;
	display: flex;
}

.galeria{
	display: flex;
	width: 99%;
	margin-left: 0%;
	margin-bottom: 25%;
	justify-content:space-evenly;
}

.galeria>div>img{
height: 350px;
width: 230px;
cursor: pointer;
border-radius: 20px;
}
.galeria>div>a>img{
	height: 350px;
	width: 230px;
	cursor: pointer;
	border-radius: 20px;
	}
.galeria>div>img:hover{
	transition: all 500ms ease-in-out;
	transform: scale(1.2);
}
.galeria>div>a>img:hover{
	transition: all 500ms ease-in-out;
	transform: scale(1.2);
}
.recently{
	font-size: 2.5rem;
	color: rgb(255, 255, 255);
	background-color: rgb(24, 25, 125);
	margin-bottom: 0px;
	padding-bottom: 20px;
	padding-left: 70px;
}

.section2>p{
	text-align: center;
	position: absolute;
	bottom: 5%;
	left: 44%;
	color: white;
	font-size: 1.5rem;
}
#galery_cat{
	display: flex;
	align-items: center;
	position: absolute;
	left: 45.6%;
	bottom: 0%;
	height: 50px;
}

#galery_cat>a>img{
height: 30px;
margin: 0px 10px 0px 0px;

}

#galery_cat>a{
	text-decoration: none;
	color: white;
	font-size: 1.3rem;
}
																					/*Anime galery info*/


 .section1_anime{
	 background-color: rgba(0, 0, 0, 0.5);
	 display: flex;
	 height: 100%;
	 width: 80%;
	 margin: 0 auto;
	 position: relative;
	 border-radius: 2px;
}
.section1_anime>div>img{
	width: 330px;
	height: 500px;
}
.anime_desc{
	max-width: 90%;
	text-align: center;
	color: white;
}
.anime_desc>ul{
	color:white;
	text-align: left;
}
.anime_desc>ul>li{
	padding: 35px 10px 10px 10px;
}									
.anime_desc>ul>li>span{
	text-align: start;
	margin-left: 40px;
}
				
.section2_anime{
background-color: rgba(0, 0, 0, 0.5);
margin: 80px;
width: 80%;
border-radius: 2px;
margin: auto;
margin-top: 100px;
}
.section2_anime_galery>img{
	width: 250px;
}






											/*FORM*/


.form{
	background-color:rgba(255, 255, 255, 0.466);
	width: 400px;
	max-width: 90%;
	border-radius: 10px;
	margin: auto;
	margin-top: 200px;
	padding: 8px 8px;
	box-shadow: 0 5px 10px -10px rgb(0, 0, 0 / 90%);
	text-align: center ;
	position: relative;
}

.form>h1{
	font-size: 2.5rem;
}


.Create_Account{
	position: absolute;
	right:10px;
	bottom:-2px;
}

.Create_Account> a{
	color: rgb(25, 0, 255);
}



																	/*footer index*/
footer{
	margin-top: 100px;
	margin:0px,0,0,0;																		
}
	
figure {
	width: 100%;
	height: 540px;
	overflow: hidden;
	margin-left: 0px;
	margin-top: 400px;
	display:flex;
	flex-direction: row;
}
.PruebaImagen{
	margin-right: 50px;
	width: 90%;
	height: 100%;
	transition: all 500ms ease-out ;
	margin-left: 35px;
}
.Logos_Footer{
	position: relative;

}
.capa{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 48%;
	left: 48%;
	width: 10%;
	height: 10%;
	background: rgba(1, 103, 123, 1,6);
	transition: all 500ms ease-out ;
	opacity: 0;
	visibility: hidden;
}

figure>div > .Logos_Footer:hover>.capa{
	cursor: pointer;
	visibility: visible;
	opacity: 1;
}
figure>div> .Logos_Footer> .capa> a > img{
	transition: all 500ms ease-out;
	width: 100px;
	height: 100px;
}z
figure>div> .Logos_Footer:hover> a > img{
	transform: scale(1.05);
}


																				/*projects*/
																			
																				  
.presentation{
	text-align: center;
	color: white;
	margin-top: 40px;
	text-shadow: 2px 2px 1px rgb(0, 0, 0)
	
}
.presentation>p{
	font-size: 2rem;
}

.projects{
	margin: 0 auto;
	color: white;
	width: 80%;
	height: auto;
	text-shadow: 2px 2px 1px rgb(0, 0, 0)
}
.projects>h1{
	text-align: center;
	margin-top: 100px;
	text-shadow: 2px 2px 1px rgb(0, 0, 0)
}
.tiktok-embed{
	border-radius: 5px;
}

.projects_galery{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	margin: 0px 10px 0px 0px;

}

.galery_about{
	background-color: rgb(255, 255, 255);
	margin-top:0px;
	text-align: center;
	display: flex;
	height: auto;
	border-radius: 20px;
	margin-bottom: 200px;
	align-items: center;
	justify-content:space-evenly;
}

										/*////////////////////////////////////////////////////////////////////////media queries////////////////////////////////////////*/
@media screen and (max-width: 360px) {
	body{

		font-family: 'Montserrat', sans-serif;
	}
	.container{
		overflow: hidden;
	}

																			/*nav*/
				
				.logo{
					width: 50px;
					padding: 5px;
				}
							
				.nav_list{
					font-size: 10px;
					padding: 0 20px;
				}

	.section1{
		max-width: 100%;	
		display: inline-block;
		overflow: hidden;
		background-size: 220vh;
		background-position-x: -300px;
		background-image: url(./Assets/katana-anime-girl-neon-4k-9s.jpg);
		background-repeat: no-repeat;
		background-color:#050A30;
		

	}
	.slide{
		width: 100%;
		height: 20%;
		position: relative;
	}

	.slide>div>h2{
		top: 10px;
		left: 35%;
		color: white;
		font-size: 1rem;
		flex-direction: row;
		margin: 0;
	}
	.title{
		font-size: 1rem;
}
	.section2{
		max-width: 100%;
		display: inline-block;
	}
	.guide{
		margin-top: 15px;
		margin-left: 0px;
		max-height: 400px;
		max-width: 100%;
	}
	.logo{
		height: 30px;
	}
	.guide>ol>li{
		padding: 20px 0px;
		font-size: 1rem;
	}
	.section2{ 
		margin-top: -200px;
		height: auto;
		
	}
	.galeria{
		flex-wrap: wrap;
		align-content: center;
		width: 100%;
		height: auto;
		padding-top: 20px;
		padding-bottom: 60px;
		position: relative;
	}
	.galeria>h3{
		position: absolute;
		left: 3%;
		font-size: 2rem;
		color: white;
		top: -10%;

	}
	.galeria>img{
		width: 150px;
		height: 250px;
		border-radius: 10px;
		padding-bottom: 10px;
	}
	.galeria>a>img{
		width: 150px;
		height: 250px;
		border-radius: 10px;
	}
	.section2{ 
		margin-top: -200px;
		height: auto;
		display: inline-block;

	}

	.section2>p{
		bottom: 0%;
		left: 50px;
		color: white;
		font-size: 1.5rem;
	}
	#galery_cat{
		left: 15.6%;
	}
	
	#galery_cat>a>img{
	height: 30px;
	margin: 0px 10px 0px 0px;
	align-content: flex-start;
	
	}
	
	#galery_cat>a{
		text-decoration: none;
		color: white;
		font-size: 1.3rem;
	}
																	/*footer index*/
																	footer{
																		height: auto;
																		margin:0px,0,0,0;		
																		display: flex;																
																	}
																		
																	figure {
																		width: 100%;
																		height: auto;
																		margin-top: 50px;
																		display:flex;
																		flex-wrap: wrap;
																	}

																	.Logos_Footer{
																		padding-bottom: 25px;				
																	}


.container-anime{
	flex-wrap: wrap;
	background-size: 620vh;
	background-position-x: -1100px;
	background-image: url(./Assets/katana-anime-girl-neon-4k-9s.jpg);
	background-repeat: no-repeat;
	background-color:#050A30;
}


 .section1_anime{
	 display: flex;
	 flex-wrap: wrap;
	 height: auto;
	 max-width: 95%;
	 margin: 0 auto;
	 position: relative;
	 border-radius: 2px;
	 height: auto;
	 justify-content: center;
}
.section1_anime>img{
	width: 80%;
	height: 80%;
}
.anime_desc{
	text-align: center;
	color: white;
	font-size: 0.7rem;
}
.anime_desc>ul{
	color:white;
	text-align: left;
}
.anime_desc>ul>li{
	padding: 15px 10px 10px 10px;
}									
.anime_desc>ul>li>span{
	text-align: start;
	margin-left: 40px;
}
				
.section2_anime{
background-color: rgba(0, 0, 0, 0.5);
width: 80%;
border-radius: 2px;
margin: auto;
margin-top: 200px;
}

.section2_anime_galery>img{
	width: 48%
}

.container_log{
	background-size: 520vh;
	background-position-x: -900px;
	background-image: url(./Assets/katana-anime-girl-neon-4k-9s.jpg);
	background-repeat: no-repeat;
	grid-template-rows:auto;
	height: 100%;
}
.main_form {
 height: 520px;
}
.form{
	max-width: 90%;
	border-radius: 10px;
	margin: auto;
	margin-top: 30px;
	padding: 8px 8px;
	box-shadow: 0 5px 10px -10px rgb(0, 0, 0 / 90%);
}
.container_crAcc{
	background-size: 520vh;
	background-position-x: -900px;
	background-image: url(./Assets/katana-anime-girl-neon-4k-9s.jpg);
	background-repeat: no-repeat;
	grid-template-rows:auto;
	height: 100%;
}
#create{
	height: 535px;
}

.container_projects{
	display: grid;
	background-size: 1120vh;
	background-position-x: -900px;
	background-image: url(./Assets/katana-anime-girl-neon-4k-9s.jpg);
	background-repeat: no-repeat;
	grid-template-rows:auto;
	max-width: 100%;
	flex-wrap: wrap;
	grid-template-columns: 1fr;
	grid-template-rows: 85px 100%;
	gap: 50px 0px;
	display: flex;
  }
  
  .main_projects{
	  max-width: 100%;
	flex-wrap: wrap;
	grid-area: main_projects;
  }	
.galery_about{
	flex-wrap: wrap;
	width: auto;
}
.projects{
	width: auto;
}
#video{
	width: 100%;
}
#Start_Challenge1{
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#Start_Challenge{
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}
}
@media screen and (max-width: 1750px) {
	.slide{
		box-shadow: none;
	}
@media screen and (max-width: 1200px) {
	#section1{
		display: flex;
		justify-content: center;
	}
	#slide{
		display: flex;
		justify-content: center;
		width: 70%;
		height: 70%;
	}
}
@media screen and (max-width: 1400px) {
	.section2{ 
		height: 60%;
	}
	@media screen and (max-width: 946px) {
		.section2{ 
			height: 85%;
	}
@media screen and (max-width: 713px) {
	.section2{ 
		height: 85%;
}
}}}}